<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="ISO-8859-1">

    <title>Main Page</title>
   <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
<body>

    <div align="center">

        <h1>Book Store Backend</h1>
        <div class="create">
        <a href="book">Book Manage</a>
        </div>
        <div class="create">
        <a href="customer">User Manage</a>
        </div>
        <div class="create">
        <a href="http://book-env.eba-bq9p8mb5.us-west-1.elasticbeanstalk.com/webHome/webMain">Book Store Page</a>
        </div>
    </div>
</body>
</html>