<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="ISO-8859-1">

    <title>YJ BOOK STORE</title>
   <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
<body>

    <div>   
        <div align= "right">   
            <a class="CA" href="newC">Create Account</a>
            <a class="signIn" href="">Sign in</a>
        </div>
        <h1>
            <div >
                <form method="get" action="search">
                    <a href="toWebMain">YJ BOOK STORE</a>
    
                    <tr>
                        <td><input type="text" name="keyword"/></td>
                        <input type="submit" name="Search" value="Search"/>
                    </tr>
            
                </form>
            </div>    
        </h1>
    </div>
    <br><br><br>
<div th:each="book: ${listBook}" align="center" > 
    <div id="div1">
       
        <img width="250" height="350" th:src="@{'/images/'+${book.img_name}}"/>
        
    </div>
    <div id="div2" align="left" class="Top"> 
        <h1 >
        <td  th:text="${book.title}"/>
        </h1>
        
        <p class="bookPage1">by <td th:text="${book.Author}"/></p>
        <p><font size="5.5">price: $<td th:text="${book.Price}"/></font></p>
    </div>
</div>
</body>       
</html>